*.iml
.gradle
local.properties
.idea/
.DS_Store
build
captures
.externalNativeBuild
PolarBleSdkTestApp/
polar-sdk-android/
polar-sdk-android-no-filter/
polar-sdk-android-no-polar-filter/
PolarSDK-Exercise-Demo/
